<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Management</title>
    <link href="static/default.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>
<body>
    <div id="header">
        <h1>資料管理</h1>
    </div>
    <table class = "user-table">
        <thead>
            <tr>
                <th>Table name</th>
                <th>Edit</th> 
            </tr>
        </thead>
        <tbody>
            {%for row in data%} 
                <tr tableId = "{{row[0]}}"> 
                    <td>{{row[0]}}</td>
                    <form method='GET' action="{{url_for("edit_table")}}">
                        <td><button name=table value={{row[0]}} type="submit">Edit</button></td>
                    </form>
                </tr>
            {%endfor%} 
        </tbody>
    </table>
</body>
</html>
