<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Constructor Add</title>
    <link href="static/default.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>
<body>
    <form method='GET' action="{{ url_for("my_constructor_save") }}">
        <div id="header">
            <h1>新增我的車隊</h1>
        </div>
        <table class="user-table">
            <tr>
                <th>column</th>
                <th>value</th>
            </tr>
            <tr>
                <td>constructorRef</td>
                <td><input type="text" name="constructorRef" required></td>
            </tr>
            <tr>
                <td>name</td>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <td>nationality</td>
                <td><input type="text" name="nationality" required></td>
            </tr>
            <tr>
                <td>url</td>
                <td><input type="text" name="url" required></td>
            </tr>
        </table>
        <input type="hidden" name="userId" value={{ userId }}>
        <button type="submit">Save</button>
    </form>
    </body>
</html>
