<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Driver Add</title>
    <link href="static/default.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>
<body>
    <form method='GET' action="{{ url_for("my_driver_save") }}">
        <div id="header">
            <h1>新增我的車手</h1>
        </div>
        <table class="user-table">
            <tr>
                <th>column</th>
                <th>value</th>
            </tr>
            <tr>
                <td>driverRef</td>
                <td><input type="text" name="driverRef" required></td>
            </tr>
            <tr>
                <td>number</td>
                <td><input type="text" name="number"></td>
            </tr>
            <tr>
                <td>code</td>
                <td><input type="text" name="code"></td>
            </tr>
            <tr>
                <td>forename</td>
                <td><input type="text" name="forename" required></td>
            </tr>
            <tr>
                <td>surname</td>
                <td><input type="text" name="surname" required></td>
            </tr>
            <tr>
                <td>dob</td>
                <td><input type="text" name="dob" required></td>
            </tr>
            <tr>
                <td>nationality</td>
                <td><input type="text" name="nationality" required></td>
            </tr>
            <tr>
                <td>url</td>
                <td><input type="text" name="url"></td>
            </tr>
        </table>
        <input type="hidden" name="userId" value={{ userId }}>
        <button type="submit">Save</button>
    </form>
    </body>
</html>
