<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis</title>
    <link href="static/default.css" rel="stylesheet" type="text/css" />
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px; /* Adjust margin as needed */
        }
        th, td {
            border: 1px solid #ff0000;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #000000;
        }
        option{
            color : #ff0000;
            background-color: #000000;
        }
        select{
            color : #ff0000;
            background-color: #000000;
        }
    </style>
</head>
<body>
    <h1>Race Analysis</h1>
    <form method="get" action="{{ url_for('race_analysis_display') }}">
        <div>
            <label for="year">Select Year:</label>
            <select name="year" id="year" required>
                {% for year in range(2023, 1900, -1) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <select name="type" id="type" required>
                <option value="lapper">Fastest Lap</option>
                <option value="qualifying">Qualifying</option>
                <option value="basic">Basic data</option>
            </select>
                
      


        </div>
            <label for="round">Round:</label>
            <input type="number" name="round" id="round" placeholder="Enter race round" required value="{{ request.args.get('round', '') }}">
        <div>
            <button type="submit">search</button>
            <h2>additional analysis</h2>
            <div>
                <a href="{{ url_for('rank') }}"><button type="button">Rank</button></a>
            </div>
        </div>

        
        
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    {% if data %}
        {% if selected_type=='lapper' %}
            <h2>The fastest lap time for each race in {{ selected_year }} round {{ race_round }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>race name</th>
                        <th>year</th>
                        <th>date</th>
                        <th>time</th>
                        <th>round</th>
                        <th>driver's name</th>
                        <th>constructor's name</th>
                        <th>fastest lap time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%endif%}
        {% if selected_type=='qualifying' %}
            <h2>The qualifying in {{ selected_year }} round {{ race_round }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>qualifying name</th>
                        <th>year</th>
                        <th>date</th>
                        <th>time</th>
                        <th>round</th>
                        <th>driver's name</th>
                        <th>constructor's name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%endif%}
        {% if selected_type=='basic' %}
            <h2>The basic race data in {{ selected_year }} round {{ race_round }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>race name</th>
                        <th>year</th>
                        <th>date</th>
                        <th>time</th>
                        <th>round</th>
                        <th>driver's name</th>
                        <th>constructor's name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {%endif%}
            
        

    {% else %}
        <p>There is no race in {{selected_year}} round {{race_round}}.</p>
    {% endif %}
    
</body>
</html>
